.git
.gitignore

.DS_Store
Thumbs.db
__pyache__/
*.pyc 
*.pyo
*.pyd
*.log
*.egg-info/
*.egg

secrets.env
*.pem
*.key
*.crt

.vscode/

docker-compose.override.yaml


terraform/.terraform/
terraform/terraform.tfstate
terraform/terraform.tfstate.*
terraform/.terraform.lock.hcl
terraform/*.tfplan


.AppleDouble
.LSOverride

*.boltdb